<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.system.mapper.SysAreaMapper">

<select id="findByParentId" resultType="org.jeecg.modules.system.entity.SysArea">
    SELECT
      *
    FROM
      sys_area
    WHERE
    parent_id = #{id}
</select>
    
    <select id="getList" resultType="org.jeecg.modules.system.entity.SysArea">
        SELECT
          *
        FROM
          sys_area
        WHERE parent_id = 0 ;
    </select>


    <select id="getparentIdList" resultType="map">
        SELECT
        leve,
        GROUP_CONCAT(id) AS sysAreaId,
        GROUP_CONCAT(parent_id) AS sysAreaParentId,
        GROUP_CONCAT(NAME) AS sysAreaName
        FROM
        sys_area
        WHERE 1 = 1
        <if test="ids!=null and ids.size > 0 ">
            AND id IN
            <foreach collection="ids" item="id" separator="," open="(" close=")">
                #{id}
            </foreach>
        </if>
    </select>

</mapper>