<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.member.mapper.MemberDesignationMemberListMapper">
    <select id="findMemberDesignationList" resultType="map">
        SELECT
          mdml.`id`,
          md.`logo_addr` AS logoAddr,
          md.`name`,
          mdml.`member_join_time` AS memberJoinTime,
          IF(mdg.`group_name`IS NULL,'无',mdg.`group_name`) AS groupName
        FROM
          member_designation_member_list mdml
          LEFT JOIN member_designation md
            ON mdml.`member_designation_id` = md.`id`
          LEFT JOIN member_designation_group mdg
            ON mdg.`id` = md.`member_designation_group_id`
        WHERE mdml.`del_flag` = '0'
          AND mdml.`member_list_id` = #{memberId}
          ORDER BY mdml.create_time DESC,mdml.update_time DESC
    </select>
    <select id="queryPageList" resultType="org.jeecg.modules.member.vo.MemberDesignationMemberListVO">
        SELECT
        mdml.`id`,
        mdg.`group_name`,
        ml.`nick_name`,
        mdml.`member_list_id`,
        ml.`head_portrait`,
        ml.`phone`,
        IF(
        mdml.`t_manage_id` IS NULL || LENGTH(TRIM(mdml.`t_manage_id`)) <![CDATA[<=]]> 0,
        '-',
        (SELECT
        mls.`nick_name`
        FROM
        member_list mls
        WHERE mls.`id` = mdml.`t_manage_id`)
        ) AS superiorName,
        mdml.`total_members`,
        (SELECT
        COUNT(1)
        FROM
        member_designation_member_list mdml
        WHERE mdml.`del_flag` = '0'
        AND mdml.`member_designation_group_id` = mdg.`id`
        AND mdml.`t_manage_id` = ml.`id`) AS memberSum,
        mdml.`member_join_time`,
        mdml.`is_change`,
        mdml.`change_time`,
        md.`name` AS designationName,
        mdml.`total_gift_sales`,
        '1' AS isViewUnderling,
        mdg.id AS memberDesignationGroupId
        FROM
        member_designation_group mdg
        LEFT JOIN member_designation_member_list mdml
        ON mdml.`member_designation_group_id` = mdg.`id`
        AND mdml.`member_list_id` = mdg.`member_id`
        LEFT JOIN member_list ml
        ON ml.`id` = mdg.`member_id`
        LEFT JOIN member_designation md
        ON md.`id` = mdml.`member_designation_id`
        WHERE mdg.`del_flag` = '0'
    </select>
    <select id="findMemberDesignationMemberlist" resultType="org.jeecg.modules.member.vo.MemberDesignationMemberListVO">
        SELECT
        mdml.`id`,
        mdg.`group_name`,
        ml.`nick_name`,
        mdml.`member_list_id`,
        ml.`head_portrait`,
        ml.`phone`,
        IF(
        mdml.`t_manage_id` IS NULL || LENGTH(TRIM(mdml.`t_manage_id`)) <![CDATA[<=]]> 0,
        '-',
        (SELECT
        mls.`nick_name`
        FROM
        member_list mls
        WHERE mls.`id` = mdml.`t_manage_id`)
        ) AS superiorName,
        mdml.`total_members`,
        (SELECT
        COUNT(1)
        FROM
        member_designation_member_list mdml
        WHERE mdml.`del_flag` = '0'
        AND mdml.`member_designation_group_id` = mdg.`id`
        AND mdml.`t_manage_id` = ml.`id`) AS memberSum,
        mdml.`member_join_time`,
        mdml.`is_change`,
        mdml.`change_time`,
        md.`name` AS designationName,
        mdml.`total_gift_sales`,
        IF((SELECT
        COUNT(1)
        FROM
        member_designation_member_list mdmls
        WHERE mdmls.`del_flag` = '0'
        AND mdmls.`member_designation_group_id` = mdml.`member_designation_group_id`
        AND mdmls.`t_manage_id` = mdml.member_list_id)>0,'1','0') AS isViewUnderling,
        mdml.member_designation_group_id
        FROM
        member_designation_member_list mdml
        LEFT JOIN member_list ml
        ON ml.`id` = mdml.`member_list_id`
        LEFT JOIN member_designation md
        ON md.`id` = mdml.`member_designation_id`
        LEFT JOIN member_designation_group mdg
        ON mdml.`member_designation_group_id` = mdg.`id`
        WHERE mdml.`del_flag` = '0'
        AND ml.`del_flag` = '0'
        <if test="memberDesignationMemberListVO.memberListId != null and memberDesignationMemberListVO.memberListId != ''">
            AND mdml.`t_manage_id` = #{memberDesignationMemberListVO.memberListId}
            AND mdml.`member_designation_group_id` = #{memberDesignationMemberListVO.memberDesignationGroupId}
        </if>
        <if test="memberDesignationMemberListVO.phone != null and memberDesignationMemberListVO.phone != ''">
            AND ml.phone LIKE concat('%',#{memberDesignationMemberListVO.phone},'%')
        </if>
    </select>
    <!--<if test="memberDesignationMemberListVO.memberListId == null or memberDesignationMemberListVO.memberListId == ''or memberDesignationMemberListVO.phone == '' or memberDesignationMemberListVO.phone == null">
        AND mdml.`old_t_manage_id` IS NULL
        AND mdml.`member_designation_group_id` = #{memberDesignationMemberListVO.memberDesignationGroupId}
    </if>-->
</mapper>