<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.member.mapper.MemberGiveWelfarePaymentsMapper">
    <select id="queryPageList" resultType="map">
        SELECT
          mgwp.`id`,
          ml.`nick_name` AS nickName,
          ml.`phone`,
          ml.`head_portrait` AS headPortrait,
          mgwp.`member_list_id` AS memberListId,
          mgwp.`give_welfare_payments` AS giveWelfarePayments
        FROM
          member_give_welfare_payments mgwp
          LEFT JOIN member_list ml
            ON mgwp.`member_list_id` = ml.`id`
        WHERE mgwp.`del_flag` = '0'
        <if test="requestMap.memberListId != null and requestMap.memberListId != ''">
            AND mgwp.member_list_id LIKE concat('%',#{requestMap.memberListId},'%')
        </if>
        <if test="requestMap.nickName != null and requestMap.nickName != ''">
            AND ml.`nick_name` LIKE concat('%',#{requestMap.nickName},'%')
        </if>
        <if test="requestMap.phone != null and requestMap.phone != ''">
            AND ml.`phone` LIKE concat('%',#{requestMap.phone},'%')
        </if>
    </select>
</mapper>