<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.store.mapper.StoreYardsMapper">

    <select id="queryPageList" resultType="map">
                    SELECT
                sy.id,
                sy.serial_number AS serialNumber,
                sy.qr_code AS qrCode,
                sy.store_manage_id AS storeManageId,
            (select IF
                (
                    LENGTH(
                    TRIM( sm.`sub_store_name` )) &gt;
                0,
                CONCAT( sm.`store_name`, '(', sm.`sub_store_name`, ')' ),
                sm.`store_name`
            ) AS storeName
            from store_manage sm where sm.id=sy.store_manage_id
            )AS storeName
            FROM
                store_yards sy
           ${ew.customSqlSegment}

    </select>
</mapper>