<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.store.mapper.StoreWelfarePaymentsRecordMapper">
    <select id="queryPageList" resultType="org.jeecg.modules.store.vo.StoreWelfarePaymentsRecordVO">
        SELECT * FROM (SELECT
          swpr.*,
          su.`username`,
          IF(
            LENGTH(TRIM(sm.`sub_store_name`)) > 0,
            CONCAT(
              sm.`store_name`,
              '(',
              sm.`sub_store_name`,
              ')'
            ),
            sm.`store_name`
          ) AS storeName,
          ml.`nick_name`,
          ml.`phone`
        FROM
          store_welfare_payments_record swpr
          LEFT JOIN store_manage sm
            ON swpr.`store_manage_id` = sm.`id`
          LEFT JOIN sys_user su
            ON su.`id` = sm.`sys_user_id`
          LEFT JOIN member_list ml
            ON swpr.`member_list_id` = ml.`id`
        WHERE swpr.`del_flag` = 0
        <if test="storeWelfarePaymentsRecordDTO.orderNo != null and storeWelfarePaymentsRecordDTO.orderNo !=''">
            AND swpr.order_no LIKE concat('%',#{storeWelfarePaymentsRecordDTO.orderNo},'%')
        </if>
        <if test="storeWelfarePaymentsRecordDTO.username != null and storeWelfarePaymentsRecordDTO.username !=''">
            AND su.username LIKE concat('%',#{storeWelfarePaymentsRecordDTO.username},'%')
        </if>
        <if test="storeWelfarePaymentsRecordDTO.nickName != null and storeWelfarePaymentsRecordDTO.nickName !=''">
            AND ml.nick_name LIKE concat('%',#{storeWelfarePaymentsRecordDTO.nickName},'%')
        </if>
        <if test="storeWelfarePaymentsRecordDTO.phone != null and storeWelfarePaymentsRecordDTO.phone !=''">
            AND ml.phone LIKE concat('%',#{storeWelfarePaymentsRecordDTO.phone},'%')
        </if>
        <if test="storeWelfarePaymentsRecordDTO != null and storeWelfarePaymentsRecordDTO.createTime_begin != null and storeWelfarePaymentsRecordDTO.createTime_begin != ''">
            AND swpr.create_time <![CDATA[>=]]> CONCAT(#{storeWelfarePaymentsRecordDTO.createTime_begin},' 00:00:00')
        </if>
        <if test="storeWelfarePaymentsRecordDTO != null and storeWelfarePaymentsRecordDTO.createTime_end != null and storeWelfarePaymentsRecordDTO.createTime_end != ''">
            AND swpr.create_time <![CDATA[<=]]> CONCAT( #{storeWelfarePaymentsRecordDTO.createTime_end},' 23:59:59')
        </if>
        ORDER BY swpr.`create_time` DESC) m
        <if test="storeWelfarePaymentsRecordDTO.storeName != null and storeWelfarePaymentsRecordDTO.storeName !=''">
            WHERE m.storeName LIKE concat('%',#{storeWelfarePaymentsRecordDTO.storeName},'%')
        </if>
    </select>
</mapper>