<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.provider.mapper.ProviderAddressMapper">
    <select id="getlistProviderAddress" resultType="org.jeecg.modules.provider.dto.ProviderAddressDTO" parameterType="map">
        SELECT
        pa.*,
        sa.name AS sysAreaName
        FROM
        `provider_address` pa
        LEFT JOIN `sys_area` sa
        ON pa.sys_area_id = sa.id
        WHERE pa.del_flag = 0
        <if test="paramMap!=null and paramMap.id!=null and paramMap.id!=''">
            and  pa.id =#{paramMap.id}
     </if>
    <if test="paramMap!=null and paramMap.sysUserId!=null and paramMap.sysUserId!=''">
      and  pa.sys_user_id =#{paramMap.sysUserId}
    </if>
    <if test="paramMap!=null and paramMap.isDeliver!=null and paramMap.isDeliver!=''">
        and pa.is_deliver = #{paramMap.isDeliver}
    </if>
        <if test="paramMap!=null and paramMap.isReturn!=null and paramMap.isReturn!=''">
            and  pa.is_return = #{paramMap.isReturn}
        </if>
    </select>
    <update id="updateIsDeliverById">
        UPDATE
        provider_address
        SET
        is_deliver = "0"
        WHERE sys_user_id = #{id}
    </update>
    <update id="updateIsReturnById">
        UPDATE
        provider_address
        SET
        is_return = "0"
        WHERE sys_user_id = #{id}
    </update>
</mapper>