<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.marketing.mapper.MarketingGiftBagStoreBatchMapper">
    <select id="findGiftBagStoreById" resultType="org.jeecg.modules.store.entity.StoreManage">
        SELECT
          sm.`logo_addr`,
          sm.`store_name`,
          sm.`sub_store_name`,
          sm.`area_address`,
          sm.`store_address`,
          sm.`sys_user_id`
        FROM
          marketing_gift_bag_store_batch mgbsb
          LEFT JOIN store_manage sm
            ON sm.`sys_user_id` = mgbsb.`sys_user_id`
        WHERE mgbsb.`del_flag` = 0
          AND sm.`del_flag` = 0
          AND sm.`status` = 1
          AND mgbsb.`marketing_gift_bag_batch_id` = #{id}
    </select>
</mapper>