<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.marketing.mapper.MarketingPrefectureTypeMapper">
    <select id="findByMarketingPrefectureId" resultType="map">
            SELECT
              *
            FROM
              (SELECT
                type_name AS typeName,
                id,
                (SELECT
                  COUNT(1)
                FROM
                  `marketing_prefecture_good`
                WHERE marketing_prefecture_type_id = m.id
                  AND del_flag = '0'
                  AND STATUS = '1'
                  AND src_status = '1') AS goodCount,
                  m.has_child AS hasChild
              FROM
                `marketing_prefecture_type` m
              WHERE del_flag = '0'
                AND level = 1
                AND STATUS = '1'
                AND marketing_prefecture_id =#{id}
              ORDER BY sort) a
            WHERE (a.goodCount > 0 OR a.hasChild > 0)
    </select>
    <select id="findUnderlingListMap" resultType="map">
        SELECT
          mpt.`id`,
          mpt.`type_name`
        FROM
          marketing_prefecture_type mpt
        WHERE mpt.`del_flag` = '0'
          AND mpt.`pid` = #{id}
          AND mpt.`status` = 1
        ORDER BY mpt.sort ASC
    </select>
    <select id="findMarketingPrefectureTypeTwoById" resultType="map">
        SELECT
          mpt.`id`,
          mpt.`type_name` AS typeName,
          mpt.`logo_addr` AS logoAddr
        FROM
          marketing_prefecture_type mpt
        WHERE mpt.`del_flag` = '0'
          AND mpt.`pid` = #{id}
          ORDER BY mpt.sort ASC
    </select>
    <select id="getUnderlingList" resultType="org.jeecg.modules.marketing.vo.MarketingPrefectureTypeVO">
        SELECT
          mptt.*,
          CONCAT(
            mpt.`type_name`,
            '-',
            mptt.`type_name`
          ) AS typeName
        FROM
          marketing_prefecture_type mpt
          LEFT JOIN marketing_prefecture_type mptt
            ON mpt.`id` = mptt.`pid`
        WHERE mpt.`del_flag` = '0'
          AND mpt.`id` = #{id}
          AND mptt.`del_flag` = '0'
        ORDER BY mptt.sort ASC
    </select>
</mapper>